{% extends "base.html" %}
{% load custom_filters %}

{% block page_header %}
    <h4>Match History</h4>
{% endblock %}

{% block content %}
<section class="match-history">
    <div class="match-cards-container">
        {% for match in match_history %}
        <div class="match-card">
            <h3 class="{% if match.match_winner_side %}winner{% else %}loser{% endif %}">Match Stats</h3>
            <!-- Match Stats in Table Format -->
            <a href="{% url 'match_details' match.match_uid %}">
                <div class="match-stats">
                    <table> 
                            <tr>
                                <th>Hero</th>
                                <th>Match UID</th>
                                <th>Season</th>                            
                                <th>Duration</th>
                                <th>Winner Side</th>
                                <th>Score</th>
                                <th>Game Mode</th>
                                <th>Kills</th>
                                <th>Deaths</th>
                                <th>Assists</th>
                                <th>Damage</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                            <!-- Match Header Content -->
                            <tr>
                                <td style="background-size: cover; height:auto; width: 0%; padding: 60px; background-image: url('https://www.marvelrivalsapi.com/{{ match.matches_player.player_hero.hero_type }}')"></td>
                                <td>{{ match.match_uid }}</td>
                                <td>{{ match.match_season }}</td>
                                <td>{{ match.match_play_duration }} seconds</td>
                                <td>{% if match.match_winner_side %} Yes {% else %} No {% endif %}</td>
                                <td>{{ match.score_info.score_info|to_dict|get_item:"0" }} - {{ match.score_info.score_info|to_dict|get_item:"1" }}</td>
                                <td>{{ match.game_mode_id }}</td>
                                <td>{{ match.matches_player.kills }}</td>
                                <td>{{ match.matches_player.deaths }}</td>
                                <td>{{ match.matches_player.assists }}</td>
                                <td>{{ match.matches_player.player_hero.total_hero_damage }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </a>
        </div>
        {% empty %}
            <p>No match history available.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
