/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    transform: translateZ(0);

    background-color: #1a1a1a;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #000000;
}

/* Content Section */
section {
    padding: 20px;
}

h2 {
    color: #333;
}
img {
    width: 100%;
    height: auto;
}
.hero img{
    width: 50%;
    height: auto;
}
.news, .tutorials, .strategies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.news article, .tutorials article, .strategies article {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s ease;
}

.news article:hover, .tutorials article:hover, .strategies article:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}
