/* General Styles */
body {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: white;
    text-align: center;
    position: relative;
    font-size: 18px;
    border-bottom: 1px solid #e30000;
    padding: 20px 0px 20px 0px;
}

header h4{
    padding-left: 20px;
    margin: 0;
    flex-shrink: 0;
}
main{
    background: #000;
}
main h4{
    font-size: 18px;
    background: #000;
    margin: 0;
    color: #fff;
    margin-bottom: 12px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e30000;
}
/* Navbar */
.navbar {
    transform: translateX(-50%);
    left: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    background-color: #000000;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #e30000;
    color: white;
}

h2 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    color: #ffffff;
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid #fff;
}
h3.winner {
    background: #00890b94;
}
h3.loser {
    background: #89000094;
}
.intro-content p{
    color: #ffffff;
}
p {
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.6;
}

/* Intro Section */
.intro {
    background: #000;
    background-size: cover;
    background-image: url('/static/images/marvel_rivals_banner.png');
    height: 377px;
    margin: 0;
    border-radius: 0px 0px 4px 4px;
}

.intro h2 {
    margin-bottom: 20px;
}

/* Section Layout */
section {

}
section.dev-diaries, section.latest-news, section.latest-strategies, section.latest-tutorials, section.player-stats, section.player-matches {
    border-radius: 5px;
    background: #000000;
}

/* Card Container */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
    gap: 12px; /* Spacing between cards */
}
.card-content p:nth-child(odd) {
    background: #e5c528;
}
.card-content img {
    width: 100%;
    height: auto;
}
/* Card Styling */

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.card:hover {
    transform: translateY(-10px);
}

.card-img-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Card Content */
.card-content {
    padding: 4px;
    border-radius: 6px;
    background: #fff;
    margin-bottom: 12px;
}

.card-content p{
    color: #000;
}
.card-content h3 {
    background: #000;
    text-align: center;
}
.card-content h4 {
    font-size: 1.2rem;
    color: #fff;
    padding: 12px;
    text-align: left;
}
.card-content .overview {
    font-style: italic;
    color: #777;
    margin-bottom: 10px;
}

.card-content .date {
    font-size: 0.9rem;
    color: #999;
    margin-bottom: 20px;
}

.read-more-btn {
    background-color: #3498db;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.read-more-btn:hover {
    background-color: #2980b9;
}

/* Image Styles */
img {
    width: 15%;
    height: auto;
}
img.hero {
    width: 10%;
    height: auto;
}

.hero {
    width: 10%;
    height: auto;
}

/* Hero Grid Styles */
.hero-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Flexible columns */
    gap: 20px;
    justify-items: center;
    padding: 20px;
}

/* Hero Card Styles */
.hero-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateZ(0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: 0;
    padding: 20px;
    background: linear-gradient(145deg, #ffffff, #e4e4e4);
}

/* Hover Effect for Hero Card */
.hero-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Hero Image */
.hero-card img.hero {
    width: 75%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Hero Info */
.hero-info {
    text-align: left;
}

.hero-info h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.hero-info p {
    font-size: 1rem;
    color: #000000;
    margin: 5px 0;
}

.hero-info a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #1a1a1a;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.hero-info a:hover {
    background-color: #333;
    transform: translateY(-2px);
}
.players-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columns */
    grid-template-rows: repeat(2, auto); /* 2 rows */
    gap: 10px; /* Space between grid items */
    justify-items: center; /* Centers content in each grid cell */
    align-items: center;

}
.player-info img {
    width: 100%;
    height: auto;
}
.player-card {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    width: 100%; /* Ensures consistent sizing */
}

.player-card.winner {
    background: #00890094;
}

.player-card.loser {
    background:#89000094;
}
tbody.winner{
    background: #00890094;
}
tbody.loser{
    background: #89000094;
}
.match-card{
    border-radius: 4px 4px 10px 10px;
    background: #ffffff;
    padding: 4px 0;
    margin-bottom: 8px;
}
.match-card a {
    text-decoration: none;
}
.match-card h3{
    color: #fff;
    margin: 4px 8px;
    padding: 2px 8px;
    border-radius: 6px;
}
.match-stats table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
}

.match-stats th, .match-stats td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}
.match-stats p{
    width: 20%;
    color: #000;
}
.match-stats th {
    color: #fff;
    background-color: #000;
    font-weight: bold;
    text-align: center;
}

.match-stats td {
    text-align: center;
    color: #000;
}
.match-stats img{
    width: 20%;
    height: auto;
    float: left;
}
.match-stats ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* Responsive Design */
@media (max-width: 1024px) {
    .news, .tutorials, .strategies {
        grid-template-columns: repeat(2, 1fr);  /* Two columns on medium screens */
    }

    .hero-card {
        padding: 15px;
        max-width: 250px;
    }

    .hero-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media (max-width: 768px) {
    .news, .tutorials, .strategies {
        grid-template-columns: 1fr;  /* Single column layout on small screens */
    }

    .hero-card {
        padding: 10px;
        max-width: 200px;
    }

    .hero-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}